### BARKSTOPPER CONFIGURATION FILE ###

#1. Turn on verbose mode (1=ON, 0=OFF).
VERBOSE_MODE=0

#2. Save this file and turn on the script (./barkstopper).

#3. Let your dog bark and enter the largest value, that the script outputs, here.
BARK_LOUDNESS=0.02

#4. Move some mp3 files into barkstopper directory (files can be in a subdirectory too) or specify your songs directory.
MP3_DIR="."

#5. Optionally you can configure the sampling period.
SAMPLING_PERIOD=0.1

#6. Web interface port
GUI_PORT=9000

#6. If you are satifsied with the settings, turn off the verbose mode, sit back and let your dog turn on the music.
